<?xml version='1.0' encoding='utf-8'?>
<widget id="com.johnmuiryosemite.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MuirYosemite</name>
    <description>
        John Muir's Yosemite.
    </description>
    <author email="jeresig@gmail.com" href="http://ejohn.org">
        John Resig
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="landscape" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true"/>
    <preference name="StatusBarBackgroundColor" value="#000000"/>
    <preference name="StatusBarStyle" value="lightcontent" />
    <plugin name="org.apache.cordova.console" />
    <plugin name="File" value="CDVFile" />
</widget>
